In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('../data/Copy of rvp_30days_data.csv',encoding = "ISO-8859-1", low_memory=False)

In [3]:
total_rows = float(len(df.index))

In [4]:
column_uniques = pd.Series(len(pd.unique(df[c].values)) for c in df)

In [5]:
for i in range(len(df.dtypes)):
    print(df.dtypes.index[i],":\t", column_uniques[i])
    
print("\nTotal Rows: ", total_rows)

order_item_id :	 2640042
request_date :	 30
return_item_request_date_time :	 1407563
order_date :	 438
order_item_max_delivery_date_time :	 1080267
replacement_order_item_max_delivery_date_time :	 1
account_id :	 1804412
return_request_channel :	 4
return_item_quantity :	 1
return_id :	 2670351
return_item_id :	 2670351
return_from_address_pincode :	 18903
return_from_address_city :	 16911
return_from_address_state :	 42
return_item_status :	 2
return_reason :	 27
return_sub_reason :	 146
return_action :	 10
reject_reason :	 1
reject_sub_reason :	 1
user_rejected_by :	 1
user_approved_by :	 5418
user_cancelled_by :	 1
returned_product_id_key :	 933353
seller_id :	 31346
return_item_shipment_id :	 2575704
is_fbf_flag :	 4
refund_mode :	 6
marketplace_id :	 3
analytic_vertical :	 2114
cms_vertical :	 2130
analytic_category :	 107
analytic_sub_category :	 375
analytic_super_category :	 49
analytic_business_unit :	 10
furniture_flag :	 1
brand :	 45708
title :	 541742
return_amount :	 12110
forward_unit_id :	 2670338
account_age :	 2558
return_fsd_dh_id :	 1
refund_reason :	 2
pincode :	 18854
user_lockin_state :	 4
is_alpha_seller :	 3
order_payment_type :	 4
order_sales_channel :	 6
promise_breach :	 5
rts_breach :	 5

Total Rows:  2670351.0

In [6]:
# Creating a Y value for tensor
df['mass']=df['return_item_quantity']

In [7]:
drop_dimensions=[]
for c in column_uniques.index:
    if(column_uniques[c]>total_rows/10): drop_dimensions.append(df.dtypes.index[c])
df = df.drop(columns=drop_dimensions)

In [8]:
df = df.replace(' ','_',regex=True)
# df['return_from_address_city'] = df['return_from_address_city'].replace(' ', '_', regex=True)
# df['return_from_address_state'] = df['return_from_address_state'].replace(' ', '_', regex=True)
# df['brand'] = df['brand'].replace(' ', '_', regex=True)

In [49]:
df[5932:5933].to_csv('../data/rvp_unique_nospace.csv', index=False, encoding="ISO-8859-1", header=False)
# df.to_csv('../data/rvp_unique_nospace_head100k.csv', index=False, encoding="ISO-8859-1", header=False)

In [50]:
df.columns

Index(['request_date', 'order_date',
       'replacement_order_item_max_delivery_date_time',
       'return_request_channel', 'return_item_quantity',
       'return_from_address_pincode', 'return_from_address_city',
       'return_from_address_state', 'return_item_status', 'return_reason',
       'return_sub_reason', 'return_action', 'reject_reason',
       'reject_sub_reason', 'user_rejected_by', 'user_approved_by',
       'user_cancelled_by', 'seller_id', 'is_fbf_flag', 'refund_mode',
       'marketplace_id', 'analytic_vertical', 'cms_vertical',
       'analytic_category', 'analytic_sub_category', 'analytic_super_category',
       'analytic_business_unit', 'furniture_flag', 'brand', 'return_amount',
       'account_age', 'return_fsd_dh_id', 'refund_reason', 'pincode',
       'user_lockin_state', 'is_alpha_seller', 'order_payment_type',
       'order_sales_channel', 'promise_breach', 'rts_breach', 'mass'],
      dtype='object')

In [51]:
df[5932:5933]

,request_date,order_date,replacement_order_item_max_delivery_date_time,return_request_channel,return_item_quantity,return_from_address_pincode,return_from_address_city,return_from_address_state,return_item_status,return_reason,...,return_fsd_dh_id,refund_reason,pincode,user_lockin_state,is_alpha_seller,order_payment_type,order_sales_channel,promise_breach,rts_breach,mass
5932,6/23/2019,6/17/2019,NaN,SELF_SERVE,1,231001.0,Mirzapur_District,Uttar_Pradesh,init,DEFECTIVE_PRODUCT,...,NaN,customer_wants_refund,231001.0,inactive,0.0,COD,AndroidApp,Ahead,Met,1